<div>Super_preloaderPlus_one_New设置</div>
<ul>
  <li>脚本版本: <b><%= locals.scriptInfo.version %></b> 更新时间: <b><%= locals.scriptInfo.updateTime %></b>
    <a id="sp-prefs-homepageURL" target="_blank" href="<%= locals.scriptInfo.homepageURL %>" />脚本主页</a>
    <a id="sp-prefs-homepageURL-feedback" target="_blank" href="<%= locals.scriptInfo.homepageURL + "/issues" %>">反馈规则</a>
  </li>
  <li>维护者: <b><a href="https://greasyfork.org/en/users/32861-mach6">Mach6</a></b> 更新日志:
    <b><%= locals.scriptInfo.changelog %></b></li>
  <li>规则数目: <b><%= locals.prefs.numOfRule %></b> 下次更新时间: <b><%= locals.nextUpdateDate %></b>
    <button id="sp-prefs-updaterule">更新规则</button></li>
  <li>
    <label for="sp-prefs-debug"><input type="checkbox" id="sp-prefs-debug" /> 调试模式</label>
    <label for="sp-prefs-ChineseUI"><input class="inputShift" type="checkbox" id="sp-prefs-ChineseUI" /> 中文界面</label>
    <label for="sp-prefs-floatWindow"><input class="inputShift" type="checkbox" id="sp-prefs-floatWindow" /> 开启悬浮窗</label>
  </li>
  <li>
    <label for="sp-prefs-disableBuiltinRules"><input type="checkbox" id="sp-prefs-disableBuiltinRules"  title="禁用内建的js格式规则"/> 禁用内建规则</label>
    <label for="sp-prefs-disableBuiltinSubscriptionRules"><input class="inputShift" type="checkbox" id="sp-prefs-disableBuiltinSubscriptionRules" title="禁用从wedata.net等数据库的订阅规则"/> 禁用订阅规则</label>
    <label for="sp-prefs-autoMatchKeyMatch"><input class="inputShift" type="checkbox" id="sp-prefs-autoMatchKeyMatch" /> 禁用自动匹配</label>
  </li>
  <li><label for="sp-prefs-enableHistory"><input type="checkbox" id="sp-prefs-enableHistory" /> 添加下一页到历史记录</label></li>
  <li><label for="sp-prefs-dblclick_pause"><input type="checkbox" id="sp-prefs-dblclick_pause" /> 鼠标双击暂停翻页（默认为 Ctrl + 长按左键）</label></li>
  <li>
    <label for="sp-prefs-SITEINFO_D-a_enable"><input title="启用自动翻页，否则仅启用预读" type="checkbox" id="sp-prefs-SITEINFO_D-a_enable" checked /> 自动翻页</label>
    <label for="sp-prefs-SITEINFO_D-useiframe"><input class="inputShift" type="checkbox" id="sp-prefs-SITEINFO_D-useiframe" /> 全局iframe方式</label>
    <label for="sp-prefs-SITEINFO_D-a_force_enable">
      <input class="inputShift" title="强行拼接规则中没有的站点，不建议启用" type="checkbox" id="sp-prefs-SITEINFO_D-a_force_enable" />
    全局强制拼接（不建议）</label>
  </li>
  <li><label for="sp-prefs-arrowKeyPage"><input type="checkbox" id="sp-prefs-arrowKeyPage" /> 使用 &larr; &rarr; 翻页</label> </li>
  <li>自定义排除列表：
    <div><textarea id="sp-prefs-excludes" placeholder="自定义排除列表，支持通配符。例如：http://*.douban.com/*"></textarea></div>
  </li>
  <li><a href="https://machsix.github.io/Super-preloader/zh-cn/siterule.html" style="color: blue;"
      target="_blank">自定义站点规则：</a>
    <div><textarea id="sp-prefs-custom_siteinfo" placeholder="&#8598;点击学习如何自定义站点规则, 自定义规则应为一个array"></textarea></div>
  </lii>
  <li>自定义界面:
    <div><textarea id="sp-prefs-customCSS"
        placeholder="通过修改'sp-separator'和'sp-prefs-setup'的CSS自定义界面"></textarea></div>
  </li>
</ul>
<div><button id="sp-prefs-ok" style="width:100px;">确定</button><button id="sp-prefs-cancel"
    style="width:100px;">取消</button><button id="sp-prefs-reset" style="width:100px;">重置</button></div>
