<div>Super_preloaderPlus_one_New Settings</div>
<ul>
  <li>Version: <b><%= locals.scriptInfo.version %></b> Update time: <b><%= locals.scriptInfo.updateTime %></b>
    <a id="sp-prefs-homepageURL" target="_blank" href="<%= locals.scriptInfo.homepageURL %>" />Homepage</a>
    <a id="sp-prefs-homepageURL-feedback" target="_blank" href="<%= locals.scriptInfo.homepageURL + "/feedback" %>" /> Feedback
    </a>
  </li>
  <li>Maintainer: <b><a href="https://greasyfork.org/en/users/32861-mach6">Mach6</a></b> Changelog:
    <b><%= locals.scriptInfo.changelog %></b></li>
  <li>Number of rules: <b><%= locals.prefs.numOfRule %></b> Next update: <b><%= locals.nextUpdateDate %></b> <button
      id="sp-prefs-updaterule">Update rules</button></li>
  <li>
    <label for="sp-prefs-debug"><input type="checkbox" id="sp-prefs-debug" /> Debug mode</label>
    <label for="sp-prefs-ChineseUI"><input class="inputShift" type="checkbox" tile="English/Chinese UI" id="sp-prefs-ChineseUI" /> Chinese UI</label>
    <label for="sp-prefs-floatWindow"><input class="inputShift" type="checkbox" id="sp-prefs-floatWindow" /> Float window</label>
  </li>
  <li>
    <label for="sp-prefs-disableBuiltinRules"><input type="checkbox" id="sp-prefs-disableBuiltinRules"  title="Disable builtin js rules"/> Disable builtin rules</label>
    <label for="sp-prefs-disableBuiltinSubscriptionRules"><input class="inputShift" type="checkbox" id="sp-prefs-disableBuiltinSubscriptionRules" title="Disable the subscription of rules from wedata.net and etc."/> Disable rule subscription</label>
    <label for="sp-prefs-autoMatchKeyMatch"><input class="inputShift" type="checkbox" id="sp-prefs-autoMatchKeyMatch" /> Disable auto match</label>
  </li>
  <li><label for="sp-prefs-enableHistory"><input type="checkbox" id="sp-prefs-enableHistory" /> Add next page to history</label></li>
  <li>
    <label for="sp-prefs-dblclick_pause"><input type="checkbox" id="sp-prefs-dblclick_pause" /> Double click to stop preload (Default: Ctrl + Long Left)</label>
  </li>
  <li><label for="sp-prefs-SITEINFO_D-useiframe"><input type="checkbox" id="sp-prefs-SITEINFO_D-useiframe" /> Enable iframe mode globally</label></li>
  <li><label for="sp-prefs-SITEINFO_D-a_enable"><input type="checkbox" title="Enable autopagger, otherwise only prefetcher is enabled"
      id="sp-prefs-SITEINFO_D-a_enable" checked /> Enable autopagger globally</label></li>
  <li><label for="sp-prefs-arrowKeyPage"><input type="checkbox" id="sp-prefs-arrowKeyPage" /> Turn to the next page with ← →</label></li>
  <li><label for="sp-prefs-SITEINFO_D-a_force_enable"><input type="checkbox" id="sp-prefs-SITEINFO_D-a_force_enable" /> Mandatorily join pages if not covered by the
    rules</label></li>
  <li>Custom excludes:
    <div><textarea id="sp-prefs-excludes"
        placeholder="Customized excludes, support regex. Ex: http://*.douban.com/*"></textarea></div>
  </li>
  <li><a href="https://machsix.github.io/Super-preloader/siterule.html" style="color: blue;" target="_blank">Custom
      rules:</a>
    <div><textarea id="sp-prefs-custom_siteinfo" placeholder="&#8598;Click to learn how to write custom rules"></textarea></div>
  </li>
  <li>Custom CSS:
    <div><textarea id="sp-prefs-customCSS"
        placeholder="Customized the apperance of separator and setting panel by modifying class 'sp-separator' and 'sp-prefs-setup'. E.g.: '.sp-separator {filter: invert(1.0)}' for dark mode"></textarea></div>
  </li>
</ul>
<div><button id="sp-prefs-ok" style="width:100px;">OK</button><button id="sp-prefs-cancel"
    style="width:100px;">Cancel</button><button id="sp-prefs-reset" style="width:100px;">Reset</button></div>
